---
import Layout from '../../layouts/Layout.astro';

import TwoColumnLayout from '../../components/TwoColumnLayout.astro';

// NOTE: Refer to https://www.astroicon.dev/guides/customization/ for information on installing and using Iconify icons
// For instance, Iconify's Bootstrap icons are referred to as `bi` (e.g., name="bi:linkedin"), and are installed with `npm install @iconify-json/bi`
import { Icon } from 'astro-icon/components';

import { Image } from 'astro:assets';
import portrait from '../../assets/General/FounderPortrait.png';
---

<Layout title='Team'>
    <TwoColumnLayout class="p-6 items-center justify-center">
        <div slot="left">
            <div class="image-content">
                <Image src={portrait} alt="Portrait" width={200} height={200} class="rounded-full object-cover"/>
            </div>
        </div>
        
        <div slot="right">
            <div class="p-10 relative">
                <h1 class="font-extrabold">Founder & CEO</h1>
                <span class="inline-flex">
                    <h2 class="font-semibold">Dương Duy Nhật Minh</h2>
                    <div class="ml-2 mr-2"></div>
                    <h2 class="text-gray-600">(Minh "TCO" Duong)</h2>
                </span>
    
                <p class="mt-2.5 mb-2.5 max-xl">Founder of Oriviet Aerospace, architect of <a href="https://github.com/ButteredFire/Astrocelerate-public/tree/main" target="_blank" class="font-bold">Astrocelerate</a>, and sole author of <a href="/research">Oriviet Research Labs</a>.</p>
    
                <div class="icons-container justify-content-start">
                    <a target="_blank" href="https://www.github.com/ButteredFire/"><Icon name="bi:github"/></a>
                    <a target="_blank" href="https://www.facebook.com/zacker.nick.9/"><Icon name="bi:facebook"/></a>
                    <a target="_blank" href="https://www.linkedin.com/in/minhduong-thechosenone/"><Icon name="bi:linkedin"/></a>
                    <a target="_blank" href="/FounderResume.pdf">Resume</a>
                </div>
            </div>
        </div>
    </TwoColumnLayout>

    <div class="p-6 flex items-center justify-center">
            <h2 class="text-center">
                "If the infrastructure does not exist, it must be written. If the path is missing, it must be paved. If no one is coming, I will go first."
            </h2>
    </div>
  
    <div class="p-5 flex self-center justify-evenly text-center max-w-5xl">
        <div class="text-xl">
            <h1 class="font-extrabold mb-5">Summary</h1>
            <p>Minh is a 17-year-old high school senior majoring in English at a specialized high school in Vietnam.</p>
            <br/>
            <p>Obsessed with the unknown and discontent with Vietnam's absence from the space frontier, Minh founded Oriviet Aerospace to build the tools, systems, and simulation software that his country lacks - but can no longer afford to.</p>
            <br/>
            <p>To him, the future of Vietnamese spaceflight means no more Storm Yagi-level disasters without warning - not when satellites could have seen it coming. To him, the future means engineers who dare to look past the stratosphere - and have the infrastructure to act on it.            </p>
            <br/>
            <p>Oriviet Aerospace is not a student project. It is a national necessity, built ahead of its time.</p>
        </div>
    </div>

    <!--
        <div class="flex self-center">
            <a href="/team/founder-portfolio" class="capitalize mt-8 btn-white-on-transparent font-semibold rounded-lg transition duration-300">
                View Full Portfolio
            </a>
        </div>
    -->
  </Layout>
  
  <style>
    .icons-container {
        position: absolute;
        bottom: 0;
        display: flex;
    }
    .icons-container svg { /* <Icon .../> is really just a wrapper around <svg .../> */
        margin-right: 10px;
        width: 1.5em;
        height: auto;
    }
  
    .text-content {
      flex-grow: 1; /* Allows text content to take up available space */
    }
  
    .image-content {
      flex-shrink: 0; /* Prevents image from shrinking */
    }
</style>