---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
    <p>Oriviet Aerospace develops advanced software for scientific aerospace simulations, supporting academic research and industry innovation worldwide.</p>
</Layout>