---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Executive Summary'>
    <div style="position: relative; width: 100%;
        /* Adjust height to fill remaining viewport after header */
        height: var(--viewport-height); /* Subtract your header's height */
        padding-top: 0; /* Remove padding-top for aspect ratio if you want full height fill */
        box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 0; margin-bottom: 0; overflow: hidden;
        border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https://www.canva.com/design/DAGuoEl077Y/KDRxRSfBgAbLg-FisAjiNQ/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
    </div>
</Layout>