---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Research'>
    <h2>Oriviet Research Lab</h2>
	<p>Oriviet Research Lab is the research and development arm of Oriviet Aerospace, created with a singular mission: to decentralize aerospace and simulation knowledge for the Vietnamese engineering community.</p>
    <p>Here, you will find original technical documentation, Vietnamese-language graphics tutorials, and foundational insights into the architecture behind Astrocelerate—Vietnam's first orbital simulation engine.</p>
</Layout>