<footer class="bg-black px-5 py-5">
    <h2 class="font-extrabold text-center text-xl uppercase">Disclaimer</h2>
    <p class="font-semibold text-center">Oriviet Aerospace is not affiliated with any governmental, defense, or aerospace manufacturing organization.<br/>All work is simulation-based, for educational and research purposes only. No physical aerospace systems are being designed, built, or launched.</p>
</footer>